In [1]:
# !python -m spacy download ru_core_news_sm
# !pip install gensim

In [38]:
import pandas as pd
import numpy as np

import spacy
import gensim.models

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.feature_extraction.text import TfidfVectorizer

import nltk
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
import razdel
import pymorphy2


nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kshch\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kshch\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [34]:
# функция, возвращает векторизированное предложение
def get_vector(model, sentence, vector_size=100):
    sentence_vector = []

    if len(sentence) == 0:
        # Пустые предложения заполним их одним  словом
        token_vector = np.zeros(vector_size)
        sentence_vector.append(token_vector)
    else:
        for token in sentence:
            try:
                token_vector = model.wv[token]
            except KeyError as e:
                print('here')
                # Случай неизвестного слова
                token_vector = np.zeros(vector_size)
            finally:
                sentence_vector.append(token_vector)
    
    return np.mean(sentence_vector, axis=0)


# функция, возвращает векторизированные выборки
def vectorize_train_test(model, X_train, X_test, vector_size=100):
    X_train_vectorized = np.zeros((X_train.shape[0], vector_size))
    for index, sentence in enumerate(X_train):
        X_train_vectorized[index] = get_vector(model, sentence, vector_size)

    X_test_vectorized = np.zeros((X_test.shape[0], vector_size))
    for index, sentence in enumerate(X_test):
        X_test_vectorized[index] = get_vector(model, sentence,  vector_size)

    return X_train_vectorized, X_test_vectorized


# функция, очистка от html разметки
def clean_html_bs4(text_data):
    soup = BeautifulSoup(text_data, 'lxml')
    return soup.get_text()

# функция, очистка от мусора, нормализация и лемматизация
def tokenize(text, stopwords, need_lemmatize=False):
    result = []
    sentences = [item.text for item in razdel.sentenize(str(text))]

    for sentence in sentences:
        text = sentence.lower()
        text = clean_html_bs4(text)
        text = re.sub(r"\s+", ' ', text)

        tokens = [item.text for item in  razdel.tokenize(text)]
        tokens = [re.sub("[^а-яА-Яa-zA-Z]", ' ', item) for item in tokens]

        if need_lemmatize:
            tokens = [analyzer.parse(token)[0].normal_form for token in tokens if token not in stopwords  and ' ' not in token and len(token) > 2]
            tokens = [token for token in tokens if token not in lemmatized_sw]
        tokens = [re.sub(r"ё", "е", token) for token in tokens]
        result.extend(tokens)
    return result

## Загрузка датасета

In [4]:
df = pd.read_csv('./data/data_vacancies.csv')
df.head(5)

,id,custom_position,schedule,salary_from,salary_to,salary_pay_type,offer_education_id,education_name,education_is_base,education_order_num,city_id,list_regions,work_skills,tags_id
0,48202096,Сварщик-сборщик,полный рабочий день,60000,120000,NaN,0,любое,True,0,2,[4],"['сварочные работы', 'сборка изделий по чертеж...",NaN
1,48202097,Сварщик-монтажник,полный рабочий день,60000,120000,NaN,0,любое,True,0,2,[4],"['монтажные работы', 'строительные работы', 'э...",NaN
2,48202098,Слесарь-сборщик,полный рабочий день,60000,80000,NaN,0,любое,True,0,2,[4],"['работа на фрезерных станках', 'слесарный рем...",NaN
3,48202356,Грузчик-упаковщик,частичная занятость,30000,35000,NaN,0,любое,True,0,1,[3],"['комплектация товара', 'маркировка', 'стрессо...","[6, 9]"
4,48202357,Грузчик-упаковщик,частичная занятость,30000,35000,NaN,0,любое,True,0,57,"[181, 182, 183, 185, 186, 187, 188, 189, 190, ...","['маркировка', 'стрессоустойчивость', 'погрузо...","[6, 9]"

In [5]:
df.shape

(19489, 14)

#### Выделение полей

In [6]:
columns = ['custom_position', 'schedule', 'salary_to', 'city_id', 'work_skills']
df = df[columns]
df.head(5)

,custom_position,schedule,salary_to,city_id,work_skills
0,Сварщик-сборщик,полный рабочий день,120000,2,"['сварочные работы', 'сборка изделий по чертеж..."
1,Сварщик-монтажник,полный рабочий день,120000,2,"['монтажные работы', 'строительные работы', 'э..."
2,Слесарь-сборщик,полный рабочий день,80000,2,"['работа на фрезерных станках', 'слесарный рем..."
3,Грузчик-упаковщик,частичная занятость,35000,1,"['комплектация товара', 'маркировка', 'стрессо..."
4,Грузчик-упаковщик,частичная занятость,35000,57,"['маркировка', 'стрессоустойчивость', 'погрузо..."

#### Возьмем вакансии для топ5 локаций

In [7]:
top5_loc = df['city_id'].value_counts()[:5].index.tolist()
df = df[df['city_id'].isin(top5_loc)]
df.head(5)

,custom_position,schedule,salary_to,city_id,work_skills
0,Сварщик-сборщик,полный рабочий день,120000,2,"['сварочные работы', 'сборка изделий по чертеж..."
1,Сварщик-монтажник,полный рабочий день,120000,2,"['монтажные работы', 'строительные работы', 'э..."
2,Слесарь-сборщик,полный рабочий день,80000,2,"['работа на фрезерных станках', 'слесарный рем..."
3,Грузчик-упаковщик,частичная занятость,35000,1,"['комплектация товара', 'маркировка', 'стрессо..."
4,Грузчик-упаковщик,частичная занятость,35000,57,"['маркировка', 'стрессоустойчивость', 'погрузо..."

#### Проверим пропуски

In [8]:
df.isna().sum()

custom_position    0
schedule           0
salary_to          0
city_id            0
work_skills        0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.shape

(18415, 5)

### Обработка полей

#### OneHotEncoding полей city_id и schedule

In [11]:
city_id_one = pd.get_dummies(df['city_id'], prefix='city_id')
schedule_one = pd.get_dummies(df['schedule'], prefix='schedule')

df = pd.concat([df, city_id_one], axis=1)
df = pd.concat([df, schedule_one], axis=1)

df.drop(columns=['city_id'], inplace=True)
df.drop(columns=['schedule'], inplace=True)
df.head(5)

,custom_position,salary_to,work_skills,city_id_1,city_id_2,city_id_57,city_id_102,city_id_174,schedule_вахта,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость
0,Сварщик-сборщик,120000,"['сварочные работы', 'сборка изделий по чертеж...",0,1,0,0,0,0,1,0,0,0,0
1,Сварщик-монтажник,120000,"['монтажные работы', 'строительные работы', 'э...",0,1,0,0,0,0,1,0,0,0,0
2,Слесарь-сборщик,80000,"['работа на фрезерных станках', 'слесарный рем...",0,1,0,0,0,0,1,0,0,0,0
3,Грузчик-упаковщик,35000,"['комплектация товара', 'маркировка', 'стрессо...",1,0,0,0,0,0,0,0,0,0,1
4,Грузчик-упаковщик,35000,"['маркировка', 'стрессоустойчивость', 'погрузо...",0,0,1,0,0,0,0,0,0,0,1

#### Нормализация и токенизации поля custom_position

In [12]:
nlp = spacy.load('ru_core_news_sm')

df['custom_position_clear'] = df['custom_position'].apply(
    lambda x: ' '.join([str(token).lower() for token in nlp(x) if
      not token.is_stop
      and not token.is_punct
      and not token.is_digit
      and not token.like_email
      and not token.like_num
      and not token.is_space
    ])
  )

df.drop(columns=['custom_position'], inplace=True)
df.head(5)

,salary_to,work_skills,city_id_1,city_id_2,city_id_57,city_id_102,city_id_174,schedule_вахта,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость,custom_position_clear
0,120000,"['сварочные работы', 'сборка изделий по чертеж...",0,1,0,0,0,0,1,0,0,0,0,сварщик сборщик
1,120000,"['монтажные работы', 'строительные работы', 'э...",0,1,0,0,0,0,1,0,0,0,0,сварщик монтажник
2,80000,"['работа на фрезерных станках', 'слесарный рем...",0,1,0,0,0,0,1,0,0,0,0,слесарь сборщик
3,35000,"['комплектация товара', 'маркировка', 'стрессо...",1,0,0,0,0,0,0,0,0,0,1,грузчик упаковщик
4,35000,"['маркировка', 'стрессоустойчивость', 'погрузо...",0,0,1,0,0,0,0,0,0,0,1,грузчик упаковщик

#### Обработка work_skills

In [13]:
for index, row in df.iterrows():
    df['work_skills'][index] = ', '.join([word.replace('\'', '').lower() 
                                         for word in row['work_skills'].split('[')[1].split(']')[0].split(', ')])
df.head(5)

<ipython-input-13-23cd426e9189>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_skills'][index] = ', '.join([word.replace('\'', '').lower()

,salary_to,work_skills,city_id_1,city_id_2,city_id_57,city_id_102,city_id_174,schedule_вахта,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость,custom_position_clear
0,120000,"сварочные работы, сборка изделий по чертежам, ...",0,1,0,0,0,0,1,0,0,0,0,сварщик сборщик
1,120000,"монтажные работы, строительные работы, электро...",0,1,0,0,0,0,1,0,0,0,0,сварщик монтажник
2,80000,"работа на фрезерных станках, слесарный ремонт,...",0,1,0,0,0,0,1,0,0,0,0,слесарь сборщик
3,35000,"комплектация товара, маркировка, стрессоустойч...",1,0,0,0,0,0,0,0,0,0,1,грузчик упаковщик
4,35000,"маркировка, стрессоустойчивость, погрузочно-ра...",0,0,1,0,0,0,0,0,0,0,1,грузчик упаковщик

#### Дедубликация

In [14]:
columns = list(df.columns)
columns.remove('salary_to')
columns

['work_skills',
 'city_id_1',
 'city_id_2',
 'city_id_57',
 'city_id_102',
 'city_id_174',
 'schedule_вахта',
 'schedule_полный рабочий день',
 'schedule_свободный график',
 'schedule_сменный график',
 'schedule_удаленная работа',
 'schedule_частичная занятость',
 'custom_position_clear']

In [15]:
df_duplicated = df[df[columns].duplicated(keep=False)]
df_duplicated.shape

(2087, 14)

In [16]:
df = df.drop(df[df[columns].duplicated(keep=False)].index)
df.head(5)

,salary_to,work_skills,city_id_1,city_id_2,city_id_57,city_id_102,city_id_174,schedule_вахта,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость,custom_position_clear
0,120000,"сварочные работы, сборка изделий по чертежам, ...",0,1,0,0,0,0,1,0,0,0,0,сварщик сборщик
1,120000,"монтажные работы, строительные работы, электро...",0,1,0,0,0,0,1,0,0,0,0,сварщик монтажник
2,80000,"работа на фрезерных станках, слесарный ремонт,...",0,1,0,0,0,0,1,0,0,0,0,слесарь сборщик
3,35000,"комплектация товара, маркировка, стрессоустойч...",1,0,0,0,0,0,0,0,0,0,1,грузчик упаковщик
4,35000,"маркировка, стрессоустойчивость, погрузочно-ра...",0,0,1,0,0,0,0,0,0,0,1,грузчик упаковщик

In [17]:
df_deduplicated = pd.DataFrame(df_duplicated.groupby(columns)['salary_to'].median()).reset_index()
df_deduplicated.shape

(673, 14)

In [18]:
df = pd.concat([df.drop(['salary_to'], axis=1), df['salary_to']], axis=1)
df = pd.concat([df, df_deduplicated], axis=0).reset_index(drop=True)

In [19]:
df

,work_skills,city_id_1,city_id_2,city_id_57,city_id_102,city_id_174,schedule_вахта,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость,custom_position_clear,salary_to
0,"сварочные работы, сборка изделий по чертежам, ...",0,1,0,0,0,0,1,0,0,0,0,сварщик сборщик,120000.0
1,"монтажные работы, строительные работы, электро...",0,1,0,0,0,0,1,0,0,0,0,сварщик монтажник,120000.0
2,"работа на фрезерных станках, слесарный ремонт,...",0,1,0,0,0,0,1,0,0,0,0,слесарь сборщик,80000.0
3,"комплектация товара, маркировка, стрессоустойч...",1,0,0,0,0,0,0,0,0,0,1,грузчик упаковщик,35000.0
4,"маркировка, стрессоустойчивость, погрузочно-ра...",0,0,1,0,0,0,0,0,0,0,1,грузчик упаковщик,35000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16996,электромонтажные работы,0,0,1,0,0,0,1,0,0,0,0,электромонтажник,100000.0
16997,электромонтажные работы,0,1,0,0,0,0,1,0,0,0,0,электромонтажник,100000.0
16998,электромонтажные работы,1,0,0,0,0,0,1,0,0,0,0,макетчик монтажник,200000.0
16999,электромонтажные работы,1,0,0,0,0,0,1,0,0,0,0,электромонтажник,100000.0
17000,японская кухня,1,0,0,0,0,0,0,0,1,0,0,повар сушист,75000.0

#### Обработка custom_position

Для обработки остальных полей необходимо предварительно разделить на тренировочную и тестовую выборки

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df.loc[:, df.columns != 'salary_to'], df['salary_to'], random_state=2023)

In [21]:
fasttext = gensim.models.FastText(vector_size=100, min_count=1)
fasttext.build_vocab(corpus_iterable=X_train['custom_position_clear'])

fasttext.train(
    corpus_iterable=X_train['custom_position_clear'],
    total_examples=len(X_train['custom_position_clear']),
    epochs=20
    )

(1230388, 6056040)

In [22]:
cuspos_vec_train, cuspos_vec_test = vectorize_train_test(fasttext, X_train['custom_position_clear'], X_test['custom_position_clear'])
cuspos_vec_train = pd.DataFrame(cuspos_vec_train).add_prefix('custom_position_')
cuspos_vec_test = pd.DataFrame(cuspos_vec_test).add_prefix('custom_position_')

In [23]:
X_train = pd.concat([X_train.reset_index(drop=True), cuspos_vec_train], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), cuspos_vec_test], axis=1)

X_train.drop(columns=['custom_position_clear'], inplace=True)
X_test.drop(columns=['custom_position_clear'], inplace=True)

In [24]:
y_train.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

#### Обработка work_skills

In [39]:
sw = stopwords.words('russian')
additional_sw =  'мои оно мной мною мог могут мор мое мочь оба нам нами ними однако нему никуда наш нею неё наша наше наши очень отсюда вон вами ваш ваша ваше ваши весь всем всеми вся ими ею будем будете будешь буду будь будут кому кого которой которого которая которые который которых кем каждое каждая каждые каждый кажется та те тому собой тобой собою тобою тою хотеть хочешь свое свои твой своей своего своих твоя твоё сама сами теми само самом самому самой самого самим самими самих саму чему тебе такое такие также такая сих тех ту эта это этому туда этим этими этих абы аж ан благо буде вроде дабы едва ежели затем зато ибо итак кабы коли коль либо лишь нежели пока покамест покуда поскольку притом причем пускай пусть ровно сиречь словно также точно хотя чисто якобы '
pronouns = 'я мы ты вы он она оно они себя мой твой ваш наш свой его ее их то это тот этот такой таков столько весь всякий сам самый каждый любой иной другой кто что какой каков чей сколько никто ничто некого нечего никакой ничей нисколько кто-то кое-кто кто-нибудь кто-либо что-то кое-что что-нибудь что-либо какой-то какой-либо какой-нибудь некто нечто некоторый некий'
conjunctions = 'что чтобы как когда ибо пока будто словно если потому что оттого что так как так что лишь только как будто с тех пор как в связи с тем что для того чтобы кто как когда который какой где куда откуда'
digits = 'ноль один два три четыре пять шесть семь восемь девять десять одиннадцать двенадцать тринадцать четырнадцать пятнадцать шестнадцать семнадцать восемнадцать девятнадцать двадцать тридцать сорок пятьдесят шестьдесят семьдесят восемьдесят девяносто сто'
modal_words = 'вероятно возможно видимо по-видимому кажется наверное безусловно верно  действительно конечно несомненно разумеется'
particles = 'да так точно ну да не ни неужели ли разве а что ли что за то-то как ну и ведь даже еще ведь уже все все-таки просто прямо вон это вот как словно будто точно как будто вроде как бы именно как раз подлинно ровно лишь только хоть всего исключительно вряд ли едва ли'
prepositions = 'близ  вблизи  вдоль  вокруг  впереди  внутрь  внутри  возле  около  поверх  сверху  сверх  позади  сзади  сквозь  среди  прежде  мимо  вслед  согласно  подобно  навстречу  против  напротив  вопреки  после  кроме  вместе  вдали  наряду  совместно  согласно  нежели вроде от бишь до без аж тех раньше совсем только итак например из прямо ли следствие а поскольку благо пускай благодаря случае затем притом также связи время при чтоб просто того невзирая даром вместо точно покуда тогда зато ради ан буде прежде насчет раз причине тому так даже исходя коль кабы более ровно либо помимо как-то будто если словно лишь бы и не будь пор тоже разве чуть как хотя наряду потому пусть в равно между сверх ибо на судя то чтобы относительно или счет за но сравнению причем оттого есть когда уж ввиду тем для дабы чем хоть с вплоть скоро едва после той да вопреки ежели кроме сиречь же коли под абы несмотря все пока покамест паче прямо-таки перед что по вдруг якобы подобно'
evaluative = 'наиболее наименее лучший больший высший низший худший более менее'

sw.extend(additional_sw.split())
sw.extend(pronouns.split())
sw.extend(conjunctions.split())
sw.extend(digits.split())
sw.extend(modal_words.split())
sw.extend(particles.split())
sw.extend(prepositions.split())
sw.extend(evaluative.split())
sw = list(set(sw))

In [40]:
need_preprocess = True

if need_preprocess:
    analyzer = pymorphy2.MorphAnalyzer()
    lemmatized_sw = [analyzer.parse(word)[0].normal_form for word in sw]
    
    for index, row in X_train.iterrows():
        X_train['work_skills'][index] = tokenize(row['work_skills'], stopwords=sw, need_lemmatize=True)
    for index, row in X_test.iterrows():
        X_test['work_skills'][index] = tokenize(row['work_skills'], stopwords=sw, need_lemmatize=True)

KeyError: 'work_skills'

In [ ]:
for index, row in X_train.iterrows():
    X_train['work_skills'][index] = " ".join(row['work_skills'])
    
for index, row in X_test.iterrows():
    X_test['work_skills'][index] = " ".join(row['work_skills'])

In [25]:
vectorizer = TfidfVectorizer(min_df=0.003, token_pattern=r'(?u)\b\w\w+\b')
ws_vec_train = vectorizer.fit_transform(X_train['work_skills'])
ws_vec_test = vectorizer.transform(X_test['work_skills'])

ws_vec_train = pd.DataFrame(ws_vec_train.toarray(), columns=vectorizer.get_feature_names_out()).add_prefix('ws_')
ws_vec_test = pd.DataFrame(ws_vec_test.toarray(), columns=vectorizer.get_feature_names_out()).add_prefix('ws_')

X_train = pd.concat([X_train.reset_index(drop=True), ws_vec_train], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), ws_vec_test], axis=1)

X_train.drop(columns=['work_skills'], inplace=True)
X_test.drop(columns=['work_skills'], inplace=True)

#### Обучение модели

In [26]:
ridge = Ridge(alpha=1.0)
lin_reg = LinearRegression()
lasso = Lasso(alpha=0.1)

In [27]:
ridge.fit(X_train, y_train)
lin_reg.fit(X_train, y_train)
lasso.fit(X_train, y_train)

C:\Users\kshch\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.392e+12, tolerance: 4.156e+09
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.1)

In [28]:
y_pred = ridge.predict(X_test)
r2_score = ridge.score(X_test, y_test)
mape = mean_absolute_percentage_error(y_test, y_pred)

print("RIDGE")
print('r2_score:', r2_score)
print('mape:', mape)

RIDGE
r2_score: 0.434155619212669
mape: 0.3153997733408767

In [29]:
ridge.coef_.max()

227830.7332311322

In [30]:
y_pred = lin_reg.predict(X_test)
r2_score = lin_reg.score(X_test, y_test)
mape = mean_absolute_percentage_error(y_test, y_pred)

print("LINEAR")
print('r2_score:', r2_score)
print('mape:', mape)

LINEAR
r2_score: -1.1763591056090506e+17
mape: 2102291.138519203

In [31]:
lin_reg.coef_.max()

9169956092478954.0

In [32]:
y_pred = lasso.predict(X_test)
r2_score = lasso.score(X_test, y_test)
mape = mean_absolute_percentage_error(y_test, y_pred)

print("LASSO")
print('r2_score:', r2_score)
print('mape:', mape)

LASSO
r2_score: 0.4259414930257326
mape: 0.31865704030813835

In [33]:
lasso.coef_.max()

471756.9041596012